<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=localhost;Database=GuildCars;User Id=guildcaruser;Password=sqlserver;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Mode" value="Prod" />
  </appSettings>
</configuration>